go 1.23

use (
	./libs/cli
	./libs/gen-go
	./libs/sdk-go
	./libs/orchestrator
	./libs/plugin-storage-markdown
	./libs/plugin-tools-features
	./libs/plugin-transport-stdio
	./libs/plugin-tools-marketplace
)
